{% extends "users/base_auth.html" %}

{% block title %}Введите новый пароль{% endblock %}

{% block content %}
<div class="text-center mb-4">
    <h2 class="fw-bold">Введите новый пароль</h2>
</div>

{% if validlink %}
<form method="POST">
    {% csrf_token %}

    <!-- Новый пароль -->
    <div class="mb-3">
        <label for="id_new_password1" class="form-label">Новый пароль</label>
        <input type="password" name="new_password1" class="form-control" id="id_new_password1" required>
    </div>

    <!-- Подтверждение пароля -->
    <div class="mb-3">
        <label for="id_new_password2" class="form-label">Подтвердите новый пароль</label>
        <input type="password" name="new_password2" class="form-control" id="id_new_password2" required>
    </div>

    <button type="submit" class="btn btn-primary w-100 py-2 mb-3">Обновить пароль</button>
</form>
{% else %}
<div class="alert alert-warning">
    Ссылка для сброса пароля недействительна, возможно, потому что она уже была использована.
    Запросите сброс пароля еще раз.
</div>
{% endif %}
{% endblock %}