<!-- templates/users/password_reset.html -->
{% extends "users/base_auth.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<div class="text-center mb-4">
    <h2 class="fw-bold">Сброс пароля</h2>
    <p class="text-muted">Введите ваш email для получения инструкций</p>
</div>

<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label for="id_email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="id_email" placeholder="your.email@example.com"
            required>
    </div>

    <button type="submit" class="btn btn-primary w-100 py-2 mb-3">Сбросить пароль</button>

    <div class="text-center">
        <a href="{% url 'users:login' %}" class="text-decoration-none">Вернуться ко входу</a>
    </div>
</form>
{% endblock %}